@model IEnumerable<DemoStore4.Models.LoaiSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loại Sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLSP }, new  {onclick = "return confirm('Bạn có muốn xóa')" })
        </td>
    </tr>
}

</table>
