@model DemoStore4.Models.Voucher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Voucher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiaKM)
        </dt>

        <dd>
            Mã khuyến mãi giảm @Html.DisplayFor(model => model.GiaKM) cho tất cả mặt hàng
        </dd>
            
        <dt>
            Thời gian áp dụng:
        </dt>

        <dd>
            <span>@Html.DisplayFor(model => model.NgayBD) </span><span>- @Html.DisplayFor(model => model.NgayKT)</span>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
